{% extends 'procesador/base.html' %}
{% block title %}Subir Archivo{% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <br />
        </div>
        <div class="card-body">
            <!--h5 class="card-title">Utilidades</h5-->
            <div class="text-center mt-5">
                <h1 class="display-4">🖖 Larga vida y prosperidad</h1>
                <p class="lead">Bienvenido al generador de scripts SQL.</p>
            </div>
            <a href="#" class="btn btn-primary">Comencemos</a>
        </div>
        <div class="card-footer text-muted">
            <br /> 
        </div>
    </div>
{% endblock content %}